<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>lzit.rj.bookstore.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>privilegeFilter</filter-name>
    <filter-class>lzit.rj.bookstore.web.filter.PrivilegeFilter</filter-class>
  </filter>
  <filter>
    <filter-name>autoLoginFilter</filter-name>
    <filter-class>lzit.rj.bookstore.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>privilegeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>autoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.utils.CheckImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllBookServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.FindAllBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.FindBookByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookToCartServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.AddBookToCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCountServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.ChangeCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveBookFromCartServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.RemoveBookFromCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveSelectBookFromCartServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.RemoveSelectBookFromCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBookByOrderServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.FindBookByOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OnLinePayServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.OnLinePayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.CallBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/activeUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllBookServlet</servlet-name>
    <url-pattern>/findAllBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBookByIdServlet</servlet-name>
    <url-pattern>/findBookById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCartServlet</servlet-name>
    <url-pattern>/addBookToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCountServlet</servlet-name>
    <url-pattern>/changeCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveBookFromCartServlet</servlet-name>
    <url-pattern>/removeBookFromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveSelectBookFromCartServlet</servlet-name>
    <url-pattern>/removeSelectBookFromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/showOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBookByOrderServlet</servlet-name>
    <url-pattern>/findBookByOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/delOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnLinePayServlet</servlet-name>
    <url-pattern>/onlinePay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>lzit.rj.bookstore.exception.ActiveCodeException</exception-type>
    <location>/error/activeuser_error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>lzit.rj.bookstore.exception.PrivilegeException</exception-type>
    <location>/error/privilege.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>UpdatePageServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.UpdatePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePageServlet</servlet-name>
    <url-pattern>/updatepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/updateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/deletebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllBookSysServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.FindAllBookSysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllBookSysServlet</servlet-name>
    <url-pattern>/findAllBookSys</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowOrderSysServlet</servlet-name>
    <servlet-class>lzit.rj.bookstore.web.servlet.ShowOrderSysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderSysServlet</servlet-name>
    <url-pattern>/showOrderSys</url-pattern>
  </servlet-mapping>
</web-app>